#contact{
    &-a{
        .form-container{
            display: grid;
            grid-template-areas: 
                'name email'
                'subject phone'
                'message message'
                'button button';
                gap: 1.6rem;
                margin-bottom: 1.6rem ;

                .name{
                    grid-area: name;
                }
                .subject{
                    grid-area: subject;
                }

                .email{
                    grid-area: email;
                }

                .message{
                    grid-area: message;
                }

                .btn-dark{
                    grid-area: button;
                }

                .input{
                   padding: .8rem 1.6rem; 
                }
        }
    }
}